@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::-webkit-scrollbar{
    width:7px;
    height:7px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(47, 47, 47);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #5665cd;
}